@import "tailwindcss";

/* Theme */
:root { --background: #ffffff; --foreground: #171717; }
@media (prefers-color-scheme: dark) {
  :root { --background: #0a0a0a; --foreground: #ededed; }
}



/* Khi đang drag, đổi con trỏ cho “cảm giác kéo” tốt hơn */
.dragging { cursor: grabbing; cursor: -webkit-grabbing; }


/* Áp dụng font Baloo 2 cho toàn bộ */
html, body { font-family: var(--font-all); }

/* Nếu trước đây có .h-title riêng thì có thể bỏ đi,
   hoặc giữ cũng được – giờ toàn site dùng cùng một font */
body {
  background: var(--background);
  color: var(--foreground);
}

.no-scrollbar { -ms-overflow-style: none; scrollbar-width: none; }
.no-scrollbar::-webkit-scrollbar { display: none; }
